@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


@theme {
  --color-bg-primary: #0a0813;
  --color-bg-secondary: #131022;
  --color-bg-panel: rgba(30, 26, 50, 0.45);
  --color-bg-panel-solid: #1e1a32;
  --color-accent-gold: #ffbe1a;
  --color-accent-cyan: #00f0ff;
  --color-accent-red: #ff3860;
  --color-pawn-red: #ff3b30;
  --color-pawn-blue: #007aff;
  --color-pawn-green: #34c759;
  --color-pawn-yellow: #ffcc00;
  
  --font-sans: 'Outfit', sans-serif;
}

body {
  @apply bg-bg-primary text-gray-100 min-h-screen flex flex-col overflow-x-hidden font-sans;
  background-image: 
    radial-gradient(at 0% 0%, rgba(38, 24, 75, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(13, 50, 77, 0.15) 0px, transparent 50%);
}

@utility glass-panel {
  @apply bg-bg-panel border border-white/10 backdrop-blur-md shadow-2xl;
}

